---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
  {%- if page.slides.link -%}
    <a href="{{ page.slides.link }}">Click for Slides</a><br>
  {%- endif -%}
  {%- if page.objective.summary -%}
  <h3>Goal</h3>
  <p>{{page.objective.summary}}</p>
  {%- if page.objective.topics.size > 0 -%}
  <h4>Topics covered:</h4>
  <ul>
  {%- for topic in page.objective.topics -%}
  <li>{{topic}}</li>
  {%- endfor -%}
  </ul>
  {%- endif -%}
  {%- endif -%}
  {%- if page.software.size > 0 -%}
  <h3>Necessary Software</h3>
  <ul>
    {%- for software in page.software -%}
    <li>
      {%- if software.homepage -%}<a href="{{software.homepage}}">{{software.name}}</a>
      {%- else -%}{{software.name}}{%- endif -%}
    {%- if software.installing -%}: <a href="{{software.installing}}">(install)</a>{%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
  {%- if page.instructions.size > 0 -%}
  <h3>Instructions for presenting</h3>
  <p>
  {% for instruction in page.instructions %} {{instruction}} {% endfor %}
  </p>
  {% endif %}
  {%- assign content = content | strip_newlines -%}
  {%- if content != "" -%}
  <hr>
    <p>{{ content }}</p>
  </div>
  {%- endif -%}
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
